<html>

<link rel="stylesheet" href="http://localhost:8080/style/common.css">
<link href="https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Extrabold.css" rel="stylesheet">
<link href="https://raw.githubusercontent.com/repalash/gilroy-free-webfont/fonts/Gilroy-Extrabold.css" rel="stylesheet">

<header>
<div id="header-content">
<a href="http://localhost:8080">
<img src="http://localhost:9000/static/header_logo.png">
</a>
<div class="tn-atom" id="tn-atom1"></div>
<div class="tn-atom" id="tn-atom2"></div>
</div>
<div class="tn-atom" id="tn-atom3"></div>
</header>

<main>
<div id="cart-page-main-content">
    <div>
        <h1 class="title main-title">
            Пропуск
        </h1>
    </div>

<div id="cart-page-main-items">

<ul id="cart-page-main-items-list">
{{ .items }}
</ul>
<div id="cost">
    <h3>Стоимость:</h3>
    <p>{{ .cost }}</p>
</div>


</div>
</div>
</main>

</html>